@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset et styles globaux */
* {
  @apply m-0 p-0 box-border;
}
html, body {
  @apply font-poppins leading-relaxed text-darkGray bg-lightGray;
}
a {
  @apply no-underline text-inherit;
}

ul, ol {
  @apply list-none;
}

button {
  @apply border-none bg-none cursor-pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typographie */
body {
  @apply text-base leading-normal;
}

h1 {
  @apply text-4xl mb-2;
}

h2 {
  @apply text-3xl mb-2;
}

p {
  @apply mb-4;
}

/* Liens */
a {
  @apply text-primary;
}

a:hover {
  @apply text-blue-700;
}

/* Conteneurs et mise en page */
.container {
  @apply w-4/5 mx-auto;
}

.header, .footer {
  @apply p-4 bg-gray-800 text-white;
}

.main-content {
  @apply p-8;
}

button {
  @apply px-4 py-2 rounded bg-primary text-white;
}

button:hover {
  @apply bg-blue-700;
}

/* Responsivité */
@media (max-width: 768px) {
  .container {
    @apply w-11/12;
  }

  h1 {
    @apply text-3xl;
  }
}

/* Animation de slide pour les cartes */
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.card-slide-in {
  animation: slide-in 0.5s ease-out;
}

.card-slide-out {
  animation: slide-out 0.5s ease-in;
}

/* Styles pour le carrousel */
.carousel-wrapper {
  @apply overflow-hidden relative w-full;
}

.carousel-container {
  @apply flex space-x-4; /* Ajoute de l'espacement entre les cartes */
  @apply whitespace-nowrap;
  @apply transition-transform duration-500 ease-in-out;
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}
}
